ariadne==0.22
bcrypt==4.0.1
flask==3.0.2
Flask-Alembic==2.0.1
Flask-CLI==0.4.0
Flask-Cors==3.0.10
flask-marshmallow==1.2.0
marshmallow-sqlalchemy==1.0.0
Flask-Migrate==3.1.0
Flask-Scss==0.5
Flask-SQLAlchemy==3.1.1
sqlalchemy==2.0.27
gql[all]==3.4.0
psycopg==3.1.18
pyjwt==2.5.0
pytest==7.2.0
validate_docbr==1.10.0
typer==0.12.0